@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500&display=swap'); 
:root{
    --main-color: #FFBF46;
    --bg-color: #575761;
    --text-color: #EAEAEA;
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
    transition: .15s;
}
*::selection{
    background: var(--main-color);
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}

/* NAV */
.nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 70px;
    background: var(--bg-color);
}
.logo{
    font-size: 24px;
    color: var(--main-color);
    font-weight: 700;
}
.navbar{
    display: flex;
}
.navbar li{
    padding: 16px 24px;
}
.navbar li a{
    color: var(--text-color)
}
.navbar li a:hover{
    color: var(--main-color);
}
#menu-icon{
    display: none;
    cursor: pointer;
    font-size: 22px;
}

/* HERO BANNER */
.hero-banner{
    padding: 60px 12%;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.left-hero h1{
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 5px;
}
.left-hero p{
    font-size: 16px;
    margin-bottom: 35px;
}
.right-hero img{
    max-width: 100%;
    width: 600px;
    margin-top: 70px;
}
.btn{
    background-color: var(--main-color);
    padding: 12px 28px;
    border-radius: 24px;
    color: var(--bg-color);
    font-weight: 600;
}
.btn-hero:hover{
    background-color: rgba(255, 191, 70, 0.9);
}