@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap'); 
:root{
    --main-color: #FFBF46;
    --bg-color: #575761;
    --text-color: #EAEAEA;
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
    transition: .15s;
}
*::selection{
    background: var(--main-color);
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}

/*** HEADER ***/
/* NAV */
.nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background: var(--bg-color);
    box-shadow: 1px 1px 5px #3a3a3a;
}
.logo{
    font-size: 24px;
    color: var(--main-color);
    font-weight: 700;
}
.navbar{
    display: flex;
}
.navbar li{
    padding: 16px 24px;
}
.navbar li a{
    color: var(--text-color);
    font-size: 14px;
}
.navbar li a:hover{
    color: var(--main-color);
}
#menu-icon{
    display: none;
    cursor: pointer;
    font-size: 20px;
}

/* HERO BANNER */
.hero-banner{
    padding: 60px 12%;
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.left-hero h1{
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 5px;
}
.left-hero p{
    font-size: 16px;
    margin-bottom: 35px;
}
.right-hero img{
    max-width: 100%;
    width: 600px;
    margin-top: 85px;
}
.btn{
    padding: 10px 28px;
    border-radius: 24px;
    color: var(--bg-color);
    font-weight: 600;
    color: var(--main-color);
    border: 2px solid var(--main-color)
}
.btn-hero:hover{
    background-color: rgba(255, 191, 70, 0.9);
    color: var(--bg-color);
}


/*** MAIN ***/
/* About */
.about{
    width: 100%;
    margin-top: 100px;
    padding: 170px 12% 10px 12%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}
.about-img img{
    width: 400px;
}
.about-text{
    text-align: justify;
}
.about-text h1{
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 10px;
}
.about-text p{
    margin-bottom: 50px;
}
.about-text span{
    color: var(--main-color);
}
.btn-about{
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    color: var(--main-color)
}
.btn-about:hover{
    background-color: var(--main-color);
    color: var(--bg-color)
}

/* Menu */
.menu{
    padding: 150px 12% 90px 12%;
    height: 100vh;
}
.heading{
    margin-bottom: 18px;
}
.heading h1{
    font-size: 30px;
    text-align: center;
    color: var(--main-color)
}
.heading p{
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    width: 100%;
    align-items: center;
}
.box{
    padding: 10px 15px;
    text-align: center;
    padding: 40px 10px;
    border-radius: 14px;
    background-color: rgba(58, 58, 58, 0.6);
    cursor: pointer;
    position: relative;
}
.box:hover{
    background-color: rgba(58, 58, 58, 0.7);
    box-shadow: 1px 1px 5px rgba(58, 58, 58, 0.7);;
}
.box .box-img img{
    width: 60%;
}
.box p:nth-child(3){
    font-size: 12px;
}
.box .price{
    margin-top: 15px;
    color:#FFBF46;
    font-weight: bold;
}
.box i{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color:#FFBF46;
    border-radius: 0 14px 0 14px;
    border: 1px solid #FFBF46
}
.box i:hover{
    background-color: #FFBF46;
    color: #fff;
}
hr{
    margin: 0 auto;
}
/* LAYANAN */
.layanan{
    padding: 120px 12% 90px 12%;
    height: 50vh;
}
.layanan-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
}
.box-layanan{
    text-align: center;
    padding:20px 30px;
}
.box-layanan img{
    width: 50px;
}
.box-layanan h4{
    color: var(--main-color)
}
.details-layanan{
    font-size: 12px;
    margin-top: 5px;
}

/* CTA */
.cta{
    width: 70%;
    margin: 80px auto 100px auto;
    padding: 70px 0;
    text-align: center;
    border-radius: 20px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 600;
}
.cta span{
    color: black;
}
.btn-cta{
    background-color: var(--bg-color);
    color: var(--main-color);
}
.btn-cta:hover{
    background-color: #3a3a3a;
    padding: 12px 36px;
}


/*** FOOTER ***/
#footer{
    padding: 35px 12% 10px 12%;
    background-color: #3a3a3a;
}
#hubungi{
    position: relative;
    height: 320px;
}
.main{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 25%;
}
.col h4{
    margin-bottom: 24px;
    position: relative;
}
.col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);
}
.col ul li:not(:last-child){
    margin-bottom: 8px;
}
.col ul li a{
    color: rgb(163, 162, 162);
    font-size: 14px;
}
.col ul li a:hover{
    color: var(--main-color);
    margin-left: 6px;
}
.social i{
    padding: 10px;
    font-size: 18px;
    margin: 2px;
    border: 2px solid rgb(163, 162, 162);
    border-radius: 50px;
    color: rgb(163, 162, 162);
}
.social i:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
}
.copyright{
    font-size: 12px;
    color: rgb(163, 162, 162);
    text-align: center;
    margin-top: 5px;
}


/*************** RESPONSIVE ****************/
@media (max-width: 1280px){
    .nav{
        padding: 15px 30px;
    }
    .nav .logo{
        font-size: 20px;
    }
    .navbar li{
        padding: 12px 18px;
    }

    /*HERO BANNER*/
    .hero-banner{
        padding: 60px 10%;
    }
    .left-hero h1{
        font-size: 40px;
    }
    .left-hero p{
        font-size: 14px;
    }
    .right-hero img{
        width: 500px;
    }
    .btn{
        padding: 8px 24px;
    }

    /*ABOUT*/    
    .about{
        padding: 170px 10% 10px 10%;  
    }
    .about-img img{
        width: 330px;
    }
    .about-text h1{
        font-size: 24px;
    }
    .about-text p{
        font-size: 14px;
    }

    /* MENU */
    .menu{
        padding: 120px 10% 80px 10%;
    }
    .heading h1{
        font-size: 24px;
    }
    .heading p{
        font-size: 14px;
    }
    .box .box-img img{
        width: 50%;
    }
    .box h3{
        font-size: 18px;
    }

    /* LAYANAN */
    .layanan{
        padding: 100px 80px 10%
    }
    .box-layanan {
        padding: 8px 20px 30px;
    }
    .details-layanan{
        font-size: 11px;
        margin-top: 5px;
    }

    /* CTA */
    .cta{
        margin: 65px auto 100px auto;
        padding: 45px;
    }
    .btn-cta:hover{
        background-color: #3a3a3a;
        padding: 8px 36px;
    }

    /* FOOTER */
    #footer{
        padding: 15px 10% 8px 10%;
    }
    .col h4{
        font-size: 16px;
    }
    .col ul li a{
        color: rgb(163, 162, 162);
        font-size: 13px;
    }
    .social i{
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 967px){
    #menu-icon{
        display: initial;
    }
    #menu-icon:hover{
        color: var(--main-color)
    }
    .nav{
        position: relative;
    }
    .navbar{
        position: absolute;
        top: -1000%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(58, 58, 58, 1);
    }
    .navbar li{
        padding: 0;
    }
    .navbar li a{
        display: block;
        padding: 14px 0;
    }
    .navbar li a:hover{
        background-color: var(--bg-color)
    }

    /*HERO BANNER*/
    .hero-banner{
        padding: 0 8%;
        height: 40vh;
    }
    .left-hero h1{
        font-size: 30px;
    }
    .left-hero p{
        font-size: 12px;
    }
    .right-hero img{
        width: 500px;
        margin-top: 60px;
    }
    .btn{
        padding: 6px 20px;
    }

     /*ABOUT*/    
     .about{
        padding: 140px 8% 0px 8%;
        position: relative;  
    }
    .about-img img{
        width: 270px;
    }
    .about-text h1{
        font-size: 20px;
    }
    .about-text p{
        font-size: 13px;
        margin-bottom: 15px;
    }
    .btn-about{
        font-size: 12px;
        position: absolute;
        right: 7%;
    }

    /* MENU */
    .menu{
        padding:0px 8% 80px 8%;
        height: 50vh;
        margin-bottom: 60px;
    }
    
    .menu-container{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.6rem;
    }
    .heading h1{
        font-size: 22px;
    }
    .heading p{
        font-size: 12px;
    }
    .box{
        padding: auto 15px;
    }
    .box .box-img img{
        width: 45%;
    }
    .box h3{
        font-size: 14px;
    }
    .box p:nth-child(3){
        font-size: 11px;
    }

    /* LAYANAN */
    .layanan{
        padding: 70px 6% 40px 6%;
    }
    .layanan-container{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.5rem;
    }
    .box-layanan {
        padding: 8px 20px 30px;
    }
    .box-layanan h4{
        color: var(--main-color);
        font-size: 14px;
    }
    .details-layanan{
        font-size: 10px;
        margin-top: 5px;
    }

    /* CTA */
    .cta{
        margin: 45px auto 100px auto;
        padding: 35px;
    }
    .btn-cta{
        font-size: 12px;
        padding: 8px 30px;
    }
    .btn-cta:hover{
        background-color: #3a3a3a;
        padding: 8px 36px;
    }

    /* FOOTER */
    #footer{
        padding: 15px 8% 10px 8%;
        height: 90vh;
    }
    #hubungi{
        position: relative;
    }
    .col{
        padding: 20px 0;
        width: 50%;
        margin-bottom: 5px;
    }
    .col h4{
        font-size: 14px;
    }
    .col ul li a{
        color: rgb(163, 162, 162);
        font-size: 13px;
    }
    .social i{
        font-size: 12px;
        padding: 8px;
    }
    .copyright{
        margin-top: 180px;
    }
}

@media (max-width: 686px) {
    .hero-banner, .about, .menu-container, .layanan-container {
        grid-template-columns: 1fr;
    }
    .hero-banner{
        padding: 50px 6% 10px 6%;
        text-align: center;
        height: 90vh;
    }
    .hero-banner::after{
        content: "";
        width: 60px;
        height: 1.5px;
        background-color: #fff;
        margin: 0 auto;
    }
    .left-hero h1{
        font-size: 50px;
    }
    .left-hero p{
        font-size: 16px;
    }
    .right-hero img{
        width: 350px;
        padding-bottom: 20px;
    }

    /* ABOUT */
    .about{
        padding: 100px 6% 0 6%;
        text-align: center;
        height: 120vh;
    }
    .about::after{
        content: "";
        width: 60px;
        height: 1.5px;
        background-color: #fff;
        margin: 0 auto;
    }
    .about-img img{
        width: 310px;
    }
    .about-text h1{
        text-align: center;
        margin-top: -30px;
        font-size: 20px;
    }

    /* MENU */
    .menu{
        padding:0px 8% 80px 8%;
        height: 150vh;
        margin-bottom: 60px;
    }
    .heading h1{
        font-size: 22px;
    }
    .heading p{
        font-size: 12px;
    }
    .box{
        padding: 30px 0px;
    }
    .box .box-img img{
        width: 25%;
    }
    .box h3{
        font-size: 18px;
    }
    .box p:nth-child(3){
        font-size: 13px;
    }

    /* LAYANAN */
    .layanan{
        padding: 50px 6% 40px 6%;
        height: 105vh;
        margin-bottom: 100px;
    }
    .box-layanan {
        padding: 8px 20px 30px;
    }
    .box-layanan img{
        width: 60px;
    }
    .box-layanan h4{
        color: var(--main-color);
        font-size: 18px;
    }
    .details-layanan{
        font-size: 14px;
        margin-top: 5px;
    }

    /* CTA */
    .cta{
        margin: 45px auto 100px auto;
        padding: 35px;
    }
}
